* {
	 padding: 0;
	 margin: 0;
}
 .wrapper {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
}
 .wrap {
	 flex: 1 0 auto;
}
 footer {
	 flex: 0 0 auto;
}
 main {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-around;
}
 .oval {
	 position: absolute;
	 width: 100px;
	 height: 50px;
	 background-color: blue;
	 border-color: red;
	 border-radius: 50%;
}
 .oval1 {
	 animation-name: oval1;
	 animation-duration: 4s;
	 animation-fill-mode: forwards;
	 animation-iteration-count: infinite;
	 top: 10%;
	 left: 0%;
}
 .oval2 {
	 animation-name: oval2;
	 animation-duration: 4s;
	 animation-fill-mode: forwards;
	 animation-iteration-count: infinite;
	 top: 90%;
}
 @keyframes oval1 {
	 0% {
		 top: 10%;
	}
	 50% {
		 transform: rotate(720deg);
		 top: 90%;
		 left: 90%;
	}
	 75% {
		 transform: rotate(720deg);
		 top: 45%;
		 left: 90%;
	}
	 80% {
		 top: 45%;
		 left: 45%;
		 background-color: blue;
	}
	 100% {
		 top: 45%;
		 left: 45%;
		 background-color: white;
		 transform: rotate(720deg);
	}
}
 @keyframes oval2 {
	 0% {
		 top: 90%;
		 left: 10%;
	}
	 50% {
		 transform: rotate(720deg);
		 top: 10%;
		 left: 90%;
	}
	 75% {
		 transform: rotate(720deg);
		 top: 45%;
		 left: 90%;
	}
	 80% {
		 top: 45%;
		 left: 45%;
		 background-color: blue;
	}
	 100% {
		 top: 45%;
		 left: 45%;
		 background-color: white;
		 transform: rotate(720deg);
	}
}
 
